<div class="md:mx-20 md:my-5">
  <div class="flex justify-center text-3xl m-4">FAQ</div>
  <div class="flex justify-center text-xl">Frequently Asked Questions</div>
  <!-- <div class="bg-gray-200 rounded-md p-3 m-4">
    <div class="font-medium">
      Why can't I find my results here even though I play swiss tour events?
    </div>
    <div class="my-2">
      Only players that have a current swiss disc golf association license are taken into consideration for the swiss tour standings.
      Swiss tour statistics are also only available for players with a current swiss disc golf association license.
    </div>
  </div>
  <div class="bg-gray-200 rounded-md p-3 m-4">
    <div class="font-medium">
      Just because I have a current license, I don't want my statistics to be made public. What can I do?
    </div>
    <div class="my-2">
      Let us know in the feedback that you would not like your statistics to be shared publicaly and we will take care of that.
    </div>
  </div> -->
</div>
