<div class="md:mx-20 md:my-5">
  <div class="flex justify-center text-3xl m-4">{{ 'faq.title' | translate }}</div>
  <div class="flex justify-center text-2xl md:mb-6">{{ 'faq.subtitle' | translate }}</div>
  <div class="bg-gray-200 rounded-md p-3 md:w-2/3 flex flex-col mx-auto my-4">
    <div class="font-medium w-full my-3">{{ 'faq.q1.question' | translate }}</div>
    <div class="my-2 w-full">
      {{ 'faq.q1.answer.part1' | translate }}
      <a href=" https://mein.fairgate.ch/swissdiscgolf/internal/signin" target="_blank" rel="noopener noreferrer">{{
        'faq.q1.answer.fairgateLink' | translate
      }}</a>
      {{ 'faq.q1.answer.seeInstructions' | translate }}
      <a
        href="https://mein.fairgate.ch/swissdiscgolf/public/document/download/358339"
        target="_blank"
        rel="noopener noreferrer"
        >{{ 'faq.q1.answer.instructionsLink' | translate }}</a
      >{{ 'faq.q1.answer.part2' | translate }}
      <br />
      <br />
      {{ 'faq.q1.answer.part3' | translate }}
      <a href="assets/files/SDA-Lizenzreglement-2026.pdf" target="_blank" rel="noopener noreferrer">{{
        'faq.q1.answer.licenseRegLink' | translate
      }}</a
      >{{ 'faq.q1.answer.part4' | translate }}
      <span class="blockspam" aria-hidden="true">PLEASE GO AWAY!</span>
      sui.lizenz&#64;<!-- sdfjsdhfkjypcs -->discgolf.ch.
    </div>
  </div>
  <div class="bg-gray-200 rounded-md p-3 md:w-2/3 flex flex-col mx-auto my-4">
    <div class="font-medium w-full my-3">{{ 'faq.q2.question' | translate }}</div>
    <div class="my-2 w-full">
      {{ 'faq.q2.answer.part1' | translate }}
      <a href="assets/files/ST_Points_2025.pdf" target="_blank" rel="noopener noreferrer">{{
        'faq.q2.answer.distributionKeyLink' | translate
      }}</a
      >{{ 'faq.q2.answer.part2' | translate }}
      <a href="assets/files/SDA-Turnierreglement-2026.pdf" target="_blank" rel="noopener noreferrer">{{
        'faq.q2.answer.tournamentRegLink' | translate
      }}</a>
      {{ 'faq.q2.answer.part3' | translate }} <strong>6 Swisstour-Wertung</strong>
      {{ 'faq.q2.answer.part4' | translate }} <strong>C Swisstour-Wertung und Punktesystem</strong>.
    </div>
  </div>
</div>
