@let players = (players$ | async)!;
<div class="md:mx-20 md:my-10">
@if (authService.adminLoggedIn()) {
<div class="px-2 pb-4">
  <button
    class="cursor-pointer inline-flex items-center rounded-md bg-green-600 px-3 py-1 text-sm font-medium text-gray-100 shadow-sm hover:bg-green-500 focus:outline-none"
    (click)="addPlayer()"
  >
    + Add Player
  </button>
</div>
}
<div class="overflow-x-auto bg-white rounded-lg shadow">
  @if (players) {
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          First Name
        </th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Last Name
        </th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          PDGA Number
        </th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          SUI Number
        </th>
        @if (authService.adminLoggedIn()) {
        <th class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
          SUI License
        </th>
        <th class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
          Professional
        </th>
        <th></th>
        <th></th>
        }
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      @for (player of players; track player.id) {
      <tr
        class="cursor-pointer group hover:bg-gray-100"
        (click)="router.navigate(['/player', player.id])"
      >
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
          {{ player.firstname }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
          {{ player.lastname }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
          {{ player.pdgaNumber }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
          @if (player.sdaNumber) { SUI.{{ player.sdaNumber }} }
        </td>
        @if (authService.adminLoggedIn()) {
        <td class="px-6 py-4 whitespace-nowrap text-sm text-center text-gray-500">
          @if (player.swisstourLicense) { ✅ }
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-center text-gray-500">
          @if (player.isPro) { ✅ }
        </td>
        <td class="whitespace-nowrap group-hover:bg-white">
          <span
            class="text-gray-600 cursor-pointer px-2"
            (click)="editPlayer(player.id); $event.stopPropagation()"
          >
            <span class="sr-only">Edit</span>✏️
          </span>
        </td>
        <td class="whitespace-nowrap group-hover:bg-white">
          <span
            class="text-gray-600 cursor-pointer px-2"
            (click)="deletePlayer(player); $event.stopPropagation()"
          >
            <span class="sr-only">Delete</span>🗑️
          </span>
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
  }
</div>
</div>
