<div class="flex flex-col justify-center items-center h-full bg-cover bg-center bg-white rounded-lg shadow px-3 py-4 text-lg">
  <h1 class="flex justify-center text-gray-700 mb-5 font-medium text-2xl">{{ 'eventInput.title' | translate }}</h1>
  <form
    [formGroup]="eventForm"
    (ngSubmit)="onSubmit()"
    class="w-full space-y-4"
  >
    <div class="flex justify-center items-center">
      <input
        type="number"
        formControlName="id"
        title="PDGA Event Number"
        [placeholder]="'eventInput.pdgaEventNumber' | translate"
        class="w-half rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-gray-900 py-2 px-3"
        required
        [class.opacity-50]="editMode"
        [class.bg-gray-100]="editMode"
        [readOnly]="editMode"
      />
      @if (id?.invalid && id?.touched) {
      <span class="text-red-600 ml-1">
        @if (id?.errors?.['required']) {
        <span>{{ 'eventInput.required' | translate }}</span>
        }
      </span>
      }
    </div>
    <div class="flex justify-center items-center">
      <input
        type="text"
        formControlName="displayName"
        title="Display Name"
        [placeholder]="'eventInput.displayName' | translate"
        class="w-half rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-lg text-gray-900 py-2 px-3"
        required
      />
      @if (displayName?.invalid && displayName?.touched) {
      <span class="text-red-600 text-lg ml-1">
        @if (displayName?.errors?.['required']) {
        <span>{{ 'eventInput.required' | translate }}</span>
        } @if (displayName?.errors?.['minlength']) {
        <span>{{ 'eventInput.minLength' | translate }}</span>
        }
      </span>
      }
    </div>
    <div class="flex justify-center items-center">
      <input
        type="number"
        formControlName="points"
        title="Swisstour Points"
        [placeholder]="'eventInput.swisstourPoints' | translate"
        class="w-half rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-lg text-gray-900 py-2 px-3"
        required
      />
      @if (points?.invalid && points?.touched) {
      <span class="text-red-600 text-lg ml-1">
        @if (points?.errors?.['required']) {
        <span>{{ 'eventInput.required' | translate }}</span>
        } @if (points?.errors?.['pattern']) {
        <span>{{ 'eventInput.mustBeNumber' | translate }}</span>
        }
      </span>
      }
    </div>
    <div class="flex justify-center items-center">
      <input
        type="number"
        formControlName="year"
        title="Year"
        [placeholder]="'eventInput.year' | translate"
        class="w-half rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-lg text-gray-900 py-2 px-3"
        required
      />
      @if (points?.invalid && points?.touched) {
      <span class="text-red-600 text-lg ml-1">
        @if (points?.errors?.['required']) {
        <span>{{ 'eventInput.required' | translate }}</span>
        } @if (points?.errors?.['pattern']) {
        <span>{{ 'eventInput.mustBeNumber' | translate }}</span>
        }
      </span>
      }
    </div>
    <div class="flex justify-center items-center">
      <label class="inline-flex items-center space-x-2">
        <input
          type="checkbox"
          formControlName="isChampionship"
          class="form-checkbox h-4 w-4 text-indigo-600 rounded"
        />
        <span class="text-lg text-gray-700">{{ 'eventInput.chChampionship' | translate }}</span>
      </label>
    </div>
    <div class="flex justify-center items-center">
      <label class="inline-flex items-center space-x-2">
        <input
          type="checkbox"
          formControlName="isSwisstour"
          class="form-checkbox h-4 w-4 text-indigo-600 rounded"
        />
        <span class="text-lg text-gray-700">{{ 'eventInput.swisstourEvent' | translate }}</span>
      </label>
    </div>
    <div class="flex justify-center items-center">
      <button
        type="submit"
        class="inline-flex items-center rounded-md bg-green-600 px-3 py-1 text-lg font-medium text-gray-100 shadow-sm hover:bg-green-500 focus:outline-none"
      >
      {{ 'eventInput.saveEvent' | translate }}
      </button>
      <button
        type="button"
        class="cursor-pointer inline-flex items-center rounded-md bg-gray-300 mx-2 px-3 py-1 text-lg font-medium text-gray-600 shadow-sm hover:bg-gray-200 focus:outline-none"
        (click)="this.router.navigate(['/events', eventForm.value.year])"
      >
        {{ 'eventInput.cancel' | translate }}
      </button>
    </div>
  </form>
</div>
