<div class="flex justify-center overflow-x-auto bg-white rounded-lg shadow px-3 py-4 mb-6">
  <form (ngSubmit)="onSubmit()" class="w-full max-w-md flex justify-center items-center space-x-4">
    <div class="flex-shrink-0">
      <input type="number" name="pdgaEvent" placeholder="PDGA Event"
        class="block w-full max-w-xs rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-sm text-gray-900 py-2 px-3"
        required />
    </div>
    <div class="flex-shrink-0">
      <input type="text" name="name" placeholder="Name"
        class="block w-full max-w-xs rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-sm text-gray-900 py-2 px-3"
        required />
    </div>
    <div class="flex-shrink-0">
      <input type="number" name="points" placeholder="Points"
        class="block w-full max-w-xs rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-sm text-gray-900 py-2 px-3"
        required />
    </div>
    <div class="flex-shrink-0">
      <button type="submit"
        class="inline-flex items-center rounded-md bg-green-600 px-4 py-1 text-sm font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none">
        Add Event
      </button>
    </div>
  </form>
</div>