<app-navbar></app-navbar>
<div class="md:mx-20 md:my-5">
  <app-banner></app-banner>
  <router-outlet></router-outlet>
</div>
<app-loading-indicator></app-loading-indicator>

<footer class="bg-gray-100 text-center py-4 text-sm text-gray-700">
  <div class="flex space-x-10 justify-center pb-4">
    <a href="#" class="hover:font-semibold">FAQ</a>
    <a href="#" class="hover:font-semibold">Feedback</a>
    @if (!authService.adminLoggedIn()) {
    <a routerLink="/admin/login" class="hover:font-semibold">Admin</a>
    } @else {
    <a href="#" (click)="authService.logout()" class="hover:font-semibold">Log Out</a>
    }

  </div>
  <div class="text-xs">
    {{ settings.title }} v{{ settings.version }}
    <div appCopyright></div>
  </div>
</footer>
