<header class="bg-gray-100">
  <nav aria-label="Global" class="mx-auto flex items-center justify-between whitespace-nowrap py-2 md:p-0">
    <!-- Left-side navigation -->
    <div class="flex items-center">
      <!-- Image and name -->
      <img src="assets/images/switzerland-flag-xs.png" alt="Swiss flag" class="ml-1 md:ml-3 h-8 w-auto" />
      <span class="text-sm text-gray-700 flex items-center px-2">
        <span class="sm:hidden">DG DB</span>
        <span class="hidden sm:block">Disc Golf Database</span>
      </span>
      <!-- Logged in tag -->
      @if (this.authService.adminLoggedIn()) {
        <div class="flex flex-row items-center text-sm px-3 py-1 bg-slate-300 rounded-md shadow-gray-200 shadow-md">
          <span class="font-medium">Admin View</span>
          <button type="button"
                  (click)="this.authService.logout()"
                  class="bg-gray-200 hover:bg-gray-300 h-6 px-2 ml-3 my-0.5 border border-gray-400 rounded-md cursor-pointer">
            Log Out
          </button>
        </div>
      }
    </div>

    <!-- Right-side Navigation -->
    <div class="md:flex">

      <!-- Mobile menu icon -->
      <div class="flex md:hidden">
        <button type="button" (click)="toggleMobileMenu()"
          class="m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Open main menu</span>
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon"
            aria-hidden="true" class="size-6">
            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>

      <!-- Links -->
      <div class="hidden md:flex items-center mr-10">
          <div class="relative group text-sm px-4 py-5 cursor-pointer hover:bg-white font-semibold text-gray-900">
            Standings
            <div class="flex flex-col absolute scale-y-0 top-full left-0 w-full [&>a]:pl-2 [&>a]:py-2 [&>a]:hover:bg-white group-hover:scale-y-100 bg-gray-100 rounded-b-xl
              shadow-xl shadow-gray-400 [&>*:last-child]:rounded-b-xl origin-top duration-300">
              <a routerLink="standings/MPO">MPO</a>
              <a routerLink="standings/FPO">FPO</a>
              <a routerLink="standings/MP40">MP40</a>
              <a routerLink="standings/FP40">FP40</a>
              <a routerLink="standings/MP50">MP50</a>
              <a routerLink="standings/MP60">MP60</a>
              <a routerLink="standings/MJ18">MJ18</a>
            </div>
          </div>
        @if(authService.adminLoggedIn()) {
        <a [routerLink]="'events/' + settings.currentYear" class="text-sm px-4 py-5 hover:bg-white font-semibold text-gray-900">Events</a>
        }
        <a routerLink="players" class="text-sm px-4 py-5 hover:bg-white font-semibold text-gray-900">Players</a>
      </div>

      <!-- Language Selection -->
      <div class="md:flex md:gap-x-6 group relative hover:bg-white cursor-pointer py-4 px-5 hidden">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="12" cy="12  " r="10"></circle>
          <line x1="2" y1="12" x2="22" y2="12"></line>
          <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
        </svg>
        <div class="absolute top-full right-0 scale-y-0 group-hover:scale-y-100 rounded-lg shadow-xl flex flex-col origin-top duration-300">
            <a href="" class="py-3 px-5 hover:bg-gray-100">EN</a>
            <a href="" class="py-3 px-5 hover:bg-gray-100">DE</a>
            <a href="" class="py-3 px-5 hover:bg-gray-100">FR</a>
        </div>
      </div>
    </div>
  </nav>

  <!-- Mobile menu -->
  @if (mobileMenuOpen()) {
  <div class="lg:hidden" role="dialog" aria-modal="true">
    <div class="fixed inset-0 z-10"></div>
    <div
      class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <button type="button" (click)="mobileMenuOpen.set(false)" class="-m-2.5 rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Close menu</span>
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon"
            aria-hidden="true" class="size-6">
            <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a routerLink="standings" (click)="mobileMenuOpen.set(false)"
              class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">
              Standings
            </a>
            <a routerLink="events" (click)="mobileMenuOpen.set(false)"
              class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">
              Events
            </a>
            <a routerLink="players" (click)="mobileMenuOpen.set(false)"
              class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">
              Players
            </a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="2" y1="12" x2="22" y2="12"></line>
              <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
              </path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</header>
<div class="max-w-7xl mx-auto p-6 lg:px-8">
  <app-banner></app-banner>
  <router-outlet></router-outlet>
</div>
<app-loading-indicator></app-loading-indicator>

<footer class="bg-gray-100 text-center py-4 text-sm text-gray-700">
  <div class="flex space-x-10 justify-center pb-4">
    <a href="#" class="hover:font-semibold">FAQ</a>
    <a href="#" class="hover:font-semibold">Feedback</a>
    @if (!authService.adminLoggedIn()) {
    <a routerLink="/admin/login" class="hover:font-semibold">Admin</a>
    } @else {
    <a href="#" (click)="authService.logout()" class="hover:font-semibold">Log Out</a>
    }

  </div>
  <div class="text-xs">
    {{ settings.title }} v{{ settings.version }}
    <div appCopyright></div>
  </div>
</footer>
