@let events = events$ | async;

<div class="mx-4 sm:mx-6 md:mx-15 mb-5">
  <h1 class="flex justify-center text-3xl py-5">{{ year }} {{ 'eventListPublic.title' | translate }}</h1>

  <app-local-loading-indicator [loading]="loading()" />

  @if (events !== null && events.length > 0) {
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6">
      @for (event of events; track event.id) {
        <app-event-card [eventDto]="event" />
      }
    </div>
  } @else if (events !== null) {
    <p>{{ 'eventListPublic.noEvents' | translate }} {{ year }}</p>
  }
</div>
