@let events = (events$ | async)!;
@let standings = (standings$ | async)!;
<div class="max-w-7xl mx-auto p-6 lg:px-8">
  <h1 class="flex justify-center text-2xl pb-5">
    {{ this.year }} {{ this.category }} Standings
  </h1>


  <div class="overflow-x-auto bg-white rounded-lg shadow">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-2 py-2 justify-center text-xs font-medium text-gray-900 uppercase tracking-wider">Place</th>
          <th scope="col" class="whitespace-nowrap px-2 py-2 text-left text-xs font-medium text-gray-800 uppercase tracking-wider">Player</th>
          <th scope="col" class="whitespace-nowrap px-2 py-2 text-left text-xs font-medium text-gray-800 uppercase tracking-wider">SDA #</th>
          <th scope="col" class="whitespace-nowrap justify-center px-2 py-2 text-xs font-medium text-gray-800 uppercase tracking-wider">Total</th>
          @for (event of events; track event.id) {
            <th
            scope="col"
            class="whitespace-nowrap px-2 py-3 justify-center text-xs font-medium text-gray-400 uppercase tracking-wider">
            {{ event.displayName }}
            </th>
          }
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        @for (standing of standings; track $index) {
        <tr>
          <td class="px-2 py-2 whitespace-nowrap text-sm text-gray-900 flex justify-center">{{ standing.rank }}</td>
          <td
            class="px-2 py-2 whitespace-nowrap text-sm text-gray-800 hover:text-blue-700 cursor-pointer"
            (click)="this.router.navigate(['/player', standing.playerId])"
            >{{ findPlayer(standing.playerId).firstname }} {{ findPlayer(standing.playerId).lastname }}</td>
          <td class="px-2 py-2 whitespace-nowrap text-sm text-gray-800">SUI.{{ findPlayer(standing.playerId).sdaNumber }}</td>
          <td class="px-2 py-2 whitespace-nowrap text-sm text-gray-800 flex justify-center">{{ standing.totalPoints | number:'1.0-0'}}</td>
          @for (event of events; track event.id) {
            @if (hasEventId(standing, event.id)) {
              <td class="px-2 py-2 whitespace-nowrap text-sm text-gray-400 text-center"
                [style.text-decoration]="isEventIncluded(standing, event.id) ? '' : 'line-through'">
                {{ getEventPoints(standing, event.id) != 0 ?  (getEventPoints(standing, event.id) | number:'1.0-0') : 'DNF' }}
              </td>
            } @else {
              <td></td>
            }

          }
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
